# Secret files
.env
weather_report.txt

# Folders of Virtual Python
venv/
.venv/
env/
dist/
build/
*.egg-info/
coverage.xml
coverage/
weatherender.egg-info

# Python compilier
__pycache__/
*.pyc
.pytest_cache/

# Cache
.coverage
.mypy_cache/
.ruff_cache/

# System files
.DS_Store
Thumbs.db
CLI/weather_report.txt
.vscode/
.clineignore
.clinerules
